*{
    box-sizing: border-box;
    font-size: 62.5;
}


body{
justify-content: center;
}

header{
    text-align: center;
}

.title{
    text-align: center;
}


span{
    color: #037BC0;
}



body{

}




h1{
    font-size: 5rem;
}

h2{
    font-size: 4rem;
}

h3{
    font-size: 4rem;
}

.container-fluid ul, a, li{
    justify-content: space-between;
}
.hero{
    background-image: url(principal.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
     height: 400px;
}

@media screen and (max-width: 768px){
    .hero{
        width: 25rem;
       margin-left: 45px;
    }
}






 #producto1 .container{
    display: flex;
    background-size: cover;
 }   
 
 

 .text{
    text-align: center;
    padding-left: 30px;
    background-color: blue;
    padding-right: 30px;
 }



 #section2 .container{
    display: flex;
    text-align: center;
    column-gap: 30px;
    justify-content: center
}



#section2 .texto{
    background-color: blue;
    padding-block-end: 10px;
    border-radius: 10px 10px 1px 1px;
}

@media screen and(max-width: 768px) {
    #section2 .container{
        display: block;
        top: 70px;
        left: -100%;
        width: 100%;
        right: 0;
     }
 } 



#section3 .container{
 display: flex;
 text-align: center;
 column-gap: 20px;
 justify-content: center;
 width: auto;
}

#section3 .texto{
    background-color: blue;
    padding-block-end: 10px;
    border-radius: 10px 10px 1px 1px;
}





    



#categorias .container{
    display: flex;
    column-gap: 20px;
    justify-content: center;
    width: auto;
}

#categorias .categories{
    text-align: center;
    text-decoration: none;
}




.footer {
    display: flex;
justify-content: space-between;
text-align: center;

}

.navf a{
   text-decoration: none;
 color: black;
}

.navf li{
    list-style: none;
}
 


.boton{
    background-color: forestgreen;
    border-radius: 10px;
    padding: 5px;
    border: none;
}

button:hover{
    background-color: chartreuse;
}


    










generales

* Media Query

* Reescribir colores 

* Productos 