
body{
justify-content: center;
}

header{
    text-align: center;
}

.title{
    text-align: center;
}


span{
    color: blue;
}


html{
    font-size: 62.5;
}



body{

}




h1{
    font-size: 5rem;
}

h2{
    font-size: 4rem;
}

h3{
    font-size: 4rem;
}


.navbar{
    display: flex;
    justify-content: center;
}


.navbar a{
    padding: 0 20px;
    text-decoration: none;
}

.navbar a:hover{
    background-color: blueviolet;
}






.hero{
    position: relative;
    background-size: cover;
    height: 500px;
    overflow: hidden;
    justify-content: center;
    background-image: none;
    
}





#producto1 .container{
display: flex;
justify-content: center;
width: 50%;
}

#producto1 .texto{
    width: 50%;
    text-align: center;
    background-color: blue;
}

#producto1 .imagen{
    width: auto;
    height: auto;
}




#section2 .container{
    display: flex;
    text-align: center;
    column-gap: 30px;
    justify-content: center;
}

#section2 .card1{
    background-color: blue;
}

#section2 .card2{
    background-color: blue;
}




#section3 .container{
 display: flex;
 text-align: center;
 column-gap: 20px;
 justify-content: center;
}

#section3 .card1{
    background-color: blue;
}

#section3 .card2{
    background-color: blue;
}

#section3 .card3{
    background-color: blue;
}





#categorias .container{
    display: flex;
    column-gap: 20px;
    justify-content: center;
}

#categorias .categories{
    text-align: center;
    
}



    

 .container{
    max-width: 1170px;
    margin: auto;
 }

 .row{
    display: flex;
    flex-wrap: wrap;
 }
ul{
    list-style: none;
}

 .footer{
padding: 70px 0;
 }

 .footer-col{
    width: 25%;
    padding: 0 15px;
 }

.footer-col h3{
    font-size: 18px;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
    text-align: center;
}

.footer h3::before{
    content: '';
    position: absolute;
    left:0;
    bottom: -10px;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}

.footer-col ul li a{
   font-size: 16px;
   text-transform: capitalize;
   text-decoration: none;
   font-weight: 300;
   display: block;
   transition: all 0.3 ease;
   text-align: center;
}

.footer-col ul li a:hover{
color: ffffff;
padding-left: 10px;
}












generales

* Media Query

* Reescribir colores 

* Productos 
/*justify-content: center;
    margin-right: 10px;
    justify-content: center; display: flex;
    text-align: center;
    margin-bottom: 100px;
    margin-left: 10px;